{
  "openapi": "3.0.3",
  "info": {
    "title": "OpusZero API",
    "description": "Enterprise-grade API for the OpusZero event management and experience booking platform",
    "version": "1.0.0",
    "contact": {
      "name": "OpusZero API Support",
      "email": "api@opuszero.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://opuszero.com/license"
    }
  },
  "servers": [
    {
      "url": "https://api.opuszero.com",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.opuszero.com",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/brands/{handle}": {
      "get": {
        "summary": "Get brand profile",
        "description": "Retrieve a brand profile by its handle",
        "tags": ["Brands"],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ghxstship"
            },
            "description": "Brand handle (slug)"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "example": {
                  "success": true,
                  "brand": {
                    "id": "brand_123",
                    "handle": "ghxstship",
                    "name": "G H X S T S H I P",
                    "description": "Atlanta's premier event experience",
                    "verified": true,
                    "stats": {
                      "followers": 50000,
                      "events": 25
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Brand not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/calendar/events": {
      "get": {
        "summary": "List calendar events",
        "description": "Retrieve calendar events from Google Calendar",
        "tags": ["Calendar"],
        "parameters": [
          {
            "name": "tokens",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google OAuth tokens (URL-encoded JSON)"
          },
          {
            "name": "timeMin",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start time filter (ISO 8601)"
          },
          {
            "name": "timeMax",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End time filter (ISO 8601)"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create calendar event",
        "description": "Create a new event in Google Calendar",
        "tags": ["Calendar"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCalendarEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update calendar event",
        "description": "Update an existing calendar event",
        "tags": ["Calendar"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCalendarEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calendar event updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete calendar event",
        "description": "Delete a calendar event by ID",
        "tags": ["Calendar"],
        "parameters": [
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google Calendar event ID"
          },
          {
            "name": "tokens",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google OAuth tokens"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar event deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/bookings": {
      "post": {
        "summary": "Create booking",
        "description": "Create a new experience booking",
        "tags": ["Bookings"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/session": {
      "get": {
        "summary": "Get session",
        "description": "Get current user session information",
        "tags": ["Authentication"],
        "responses": {
          "200": {
            "description": "Session retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "summary": "List events",
        "description": "Retrieve a list of events with optional filtering",
        "tags": ["Events"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["draft", "published", "cancelled"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create event",
        "description": "Create a new event",
        "tags": ["Events"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/integrations": {
      "get": {
        "summary": "List integrations",
        "description": "Get available integrations and their status",
        "tags": ["Integrations"],
        "responses": {
          "200": {
            "description": "Integrations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationsResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "description": "Response data"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": ["success"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "example": "Validation failed"
              },
              "code": {
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "details": {
                "type": "object",
                "description": "Additional error details"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": ["message", "code"]
          }
        },
        "required": ["success", "error"]
      },
      "CreateCalendarEventRequest": {
        "type": "object",
        "properties": {
          "tokens": {
            "type": "string",
            "description": "Google OAuth tokens"
          },
          "summary": {
            "type": "string",
            "example": "Team Meeting"
          },
          "description": {
            "type": "string",
            "example": "Weekly team sync"
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15T10:00:00Z"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15T11:00:00Z"
          },
          "location": {
            "type": "string",
            "example": "Conference Room A"
          },
          "attendees": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "displayName": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": ["tokens", "summary", "startDateTime", "endDateTime"]
      },
      "UpdateCalendarEventRequest": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "description": "Google Calendar event ID"
          },
          "tokens": {
            "type": "string",
            "description": "Google OAuth tokens"
          },
          "updates": {
            "type": "object",
            "description": "Fields to update"
          }
        },
        "required": ["eventId", "tokens", "updates"]
      },
      "CreateBookingRequest": {
        "type": "object",
        "properties": {
          "experienceId": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "time": {
            "type": "string"
          },
          "guests": {
            "type": "integer",
            "minimum": 1
          },
          "guestInfo": {
            "$ref": "#/components/schemas/GuestInfo"
          },
          "specialRequests": {
            "type": "string"
          }
        },
        "required": ["experienceId", "date", "time", "guests", "guestInfo"]
      },
      "GuestInfo": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        },
        "required": ["firstName", "lastName", "email", "phone"]
      },
      "CreateEventRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Summer Music Festival"
          },
          "slug": {
            "type": "string",
            "example": "summer-music-festival"
          },
          "description": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["draft", "published"],
            "default": "draft"
          }
        },
        "required": ["name", "slug", "status"]
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "expires": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["draft", "published", "cancelled"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IntegrationsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "integrations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Integration"
            }
          }
        }
      },
      "Integration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["connected", "disconnected", "error"]
          },
          "lastSync": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Authentication and session management"
    },
    {
      "name": "Brands",
      "description": "Brand profile management"
    },
    {
      "name": "Calendar",
      "description": "Google Calendar integration"
    },
    {
      "name": "Bookings",
      "description": "Experience booking management"
    },
    {
      "name": "Events",
      "description": "Event management and discovery"
    },
    {
      "name": "Integrations",
      "description": "Third-party integrations management"
    }
  ]
}
